video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.collection-bgContainer .overlay {
    position: relative;
}
.video-css {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.collection-bgContainer .text-container {
    color: white;
    position: absolute;
    width: 77%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.collection-bgContainer .text-container h3 {
    font-weight: 700;
}
.collection-bgContainer .head-logo {
    width: 20%;
}
.collection-bgContainer .text-container a {
    color: white !important;
}

/* .collection-bgContainer .container {
    position: absolute;
    width: 77%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
