/* .Main-menu {
    background-color: #2b2b2b;
    font-family: "Cormorant", serif;
}
.navbar a.nav-link,
a.nav-link:focus {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white !important;
    font-size: 20px;
    font-weight: 600;
    padding: 2px 15px !important;
}
div.dropdown-menu.show{
    background-color: #2b2b2b !important;
    border-radius: none !important;
}
.dropdown-item{
    width: 100px;
    color: white !important;
}
.dropdown-item:hover{
    background-color: #464545 !important;
}
a.nav-link:hover {
    color: var(--skin) !important;
}
.dropdown-menu {
    top: 48px !important;
}
div.dropdown-menu.show {
    border-radius: none !important;
}
.Main-menu .navbar-toggler {
    background-color: var(--skin);
    width: 40px;
    border-radius: none !important;
}
.dropdown-toggle::after {
    display: none !important;
}
.navbar-toggler-icon{
    width: 25px !important;
}
.nav-icon {
    width: 30px;
    height: 30px;
    background-color: var(--skin);
    text-align: center;
}
.nav-icon:hover{
    background-color: white;
}
.nav-icon i {
    margin-top: 6px;
}
.menu {
    justify-content: space-evenly !important;
}
@media screen and (max-width: 2561px) and (min-width: 768px) {
    .logo {
        display: none;
    }
}
@media screen and (max-width: 764px) and (min-width: 425px){
    .menu-icons {
        display: none !important;
    }
}
@media screen and (max-width: 768px){
    .navbar a.nav-link{
        padding: 0 10px !important;
    }
}
@media screen and (max-width: 900px) and (min-width: 768px){
    .navbar a.nav-link{
        padding: 0 10px !important;
    }
}
@media screen and (max-width: 428px) and (min-width: 320px) {
    .menu-icons {
        display: none !important;
    }
}
@media screen and (max-width: 992px) and (min-width: 890px){
    .navbar a.nav-link{
        padding: 0 10px !important;
    }
} */
