.product-section {
    font-family: "Roboto", sans-serif;
    padding-bottom: 80px;
}
.product-section .heading-box h3 {
    font-size: 24px;
    text-align: center;
}
.product-section .heading-box p {
    text-align: center;
    color: #777;
}
.product-logo {
    width: 20%;
    margin: auto;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .product-logo {
        width: 40%;
    }
}

/* card section */
.products {
    margin: 30px 0 !important;
}
.product-card {
    margin: 10px 0;
    background-color: #eeeeee;
    position: relative;
    overflow: hidden;
}
.product-detail ul li {
    list-style: none;
    color: var(--skin);
}
.product-detail h4 {
    font-size: 18px;
}
.product-detail ul {
    display: flex;
    justify-content: center;
}
.product-detail {
    text-align: center;
    transition: all 0.45s ease-in-out;
    padding: 20px;
}
.product-detail:hover {
    background-color: var(--skin);
    color: white;
}
.product-detail:hover i {
    color: white;
}
.product-detail .product-button button {
    background-color: var(--skin);
}
.product-button {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 25%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    transition: 0.45s;
    opacity: 0;
}
.product-card:hover .product-button {
    height: 100%;
    opacity: 1;
}


/* popup */
.popup-img {
    width: 50%;
    background-color: #eeeeee;
}
.main-box {
    display: flex;
    flex-wrap: wrap;
}
.main-box .text-section {
    text-align: start;
    line-height: 1.8;
    width: 50%;
    padding: 0 20px;
}
.main-box .text-section .select {
    display: flex;
    line-height: 0.5;
    flex-wrap: wrap;
}
.main-box .text-section select {
    margin-top: -10px;
}
.main-box .text-section input {
    width: 100%;
    margin-top: 5px;
    height: 25px;
}
.main-box .text-section .second {
    margin-left: 20px;
}
.main-box .text-section .second select {
    width: 100%;
}
.main-box .text-section .cart {
    margin-top: 10px;
}
.main-box .text-section .cart button {
    margin-left: 10px;
}
.main-box .text-section input{
    width: 50%;
}
@media screen and (max-width: 425px) and (min-width: 100px){
    .main-box {
        display: inline;
    }
    .main-box .text-section{
        line-height: 1;
    }
    .main-box .text-section{
        width: 100%;
        padding: 0;
    }
    .popup-img {
        width: 100%;
    }
}