.t-section{

    padding: 80px 0;
}
.testimononial-section {
    padding: 50px 0;
    font-family: "Cormorant", serif !important;
    background-image: url(../assets/testi-bg.jpg);
}
.testimononial .text-container {
    /* padding: 0 50px; */
    text-align: center;
    line-height: 5;
}
@media screen and (max-width: 425px) and (min-width: 100px) {
    .testimononial .text-container {
        text-align: center;
        line-height: 1;
    }
    .testimononial .text-container h2 {
        font-size: 20px !important;
    }
    .testimononial-section {
        padding: 70px 0;
    }
}
/* @media screen and (max-width: 768px) and (min-width: 100px) {
    .slick-next,
    .slick-prev {
        position: absolute;
        bottom: -50px !important;
        left: 40%;
    }
    .testimononial .slick-next{
        bottom: -50px !important;
        right:  40%;

    }
} */
