
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --skin :#b3873d;
  --gray:#777777
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
button{
  width: 130px;
  height: 40px;
  border: none;
  transition:  ease-in-out 0.3s;
}
button:hover{
  background-color: #e4b970;
  color: white;
}
.gray{
  color: #777777;
  font-weight: 500;
}

